/* RESET & BASE STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.html, .body {
    height: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f2f3f6;
    color: #141C26;
    padding-top: 110px;
}
.main {
     padding-left: 10%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

a:hover {
    opacity: 0.8;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

img {
    width: 400px;
    height: 250px;
    align-self: center;
}

/* UTILITY CLASSES */
.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.btn {
    padding: 10px 20px;
    background-color: #04163d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #062767;
}

/* NAVBAR */
.navbar {
    background-color: #04163d;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    display: block;
    font-size: 16px;
    color: #f2f1f7;
    padding: 14px 16px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #04163d;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    color: #04163d;
    padding: 14px 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: #000;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* CONTAINERS */
.container,
.container-section {
    background-color: #fff;
    color: #04163d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-section {
    padding: 60px 20px;
    margin-bottom: 50px;
}

/* FOOTER */
.footer {
    background-color: #04163d;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
#mySidebar.closed {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

#mySidebar.open {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
:root {
  --navbar-height: 75px;
  --sidebar-width: 75px;
}
.main {
    margin-top: 56px;
}

/* Fixed sidebar */
#sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0px;
  width: var(--sidebar-width);
  height: calc(56px - var(--navbar-height));
  overflow-y: auto;
  z-index: 560;
}

/* Push main content aside and down */
#main-content {
  margin-top: var(--navbar-height);
  margin-left: var(--sidebar-width);
}