
/* RESET & BASE STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.html, .body {
    height: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f2f3f6;
    color: #141C26;
    
}
.main {
     padding-left: 10%;
     padding-top: 10%;
     padding: 10%;
     scroll-padding: 10%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

a:hover {
    opacity: 0.8;
}

#APIcorner{

    background-color: #eeeeee;
    min-height: 180px;

}
#welkom {
    height: 180px;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo {
    width: 150px;
    height: 150px;
    align-self: center;
}
.img {
    align-items: center;
    justify-content: space-around;
}

/* UTILITY CLASSES */
.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.btn {
    padding: 10px 20px;
    background-color: #04163d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.custom-navbar {
  background-color: #04163d;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn:hover {
    background-color: #062767;
}

/* NAVBAR */




/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    color: #04163d;
    padding: 14px 16px;
    cursor: pointer;
}

.asideCollapsible {

    min-height: 120px

}

#vertaalbalk body {
  font-family: sans-serif;
  padding: 2rem;
}

#vertaalbalk label, 
#vertaalbalk select {
  margin-right: 1rem;
}
.card
{ width: auto;}
.card-body
{width: auto;}
div#map {
  height: 180px;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: #000;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* CONTAINERS */
.container,
.container-section {
    background-color: #fff;
    color: #04163d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-section {
    padding: 60px 20px;
    margin-bottom: 50px;
}

/* FOOTER */
.footer {
    background-color: #04163d;
    color: #fff;
    text-align: center;
    padding: 20px;
}
